@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');




/* To remove arrows from input[number] */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body{
  overflow-x: hidden;
  scrollbar-width: 10px;
}

*{ 
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.sidebar-container {
  display: none;
}

@media screen and (max-width: 786px) {
  .sidebar-container {
    display: block;
  }
}

